@import "../../theme/variables.scss";
page-lang {
  font-family: "Montserrat", sans-serif !important;
  background: $fondo_primary;
  .contentlang {
    background-image: url('/assets/imgs/bg_login.png');
    background-size: cover;
    background-position: center;
   background-repeat: no-repeat;
  }
  button{
    text-transform: uppercase !important;
  }
}
