@import "../../theme/variables.scss";
page-modal-ini {
  background: $verde;
  display: flex !important;
  align-items: center !important;



  //BULLETS SLIDERS
  .swiper-pagination-bullet {
    border-radius: 50%;
    display: inline-block;
    width: 18px;
    height: 18px;
    background: transparent;
    border: 1px solid #01111a !important;
    border: 1px solid #01111a !important;
    opacity: 1;
    pointer-events: auto;
    position: relative;
    bottom: 100px;
  }
  
  .swiper-pagination-bullet-active {
    background: rgba(5, 40, 47, 1);
    border: 0px solid #01111a !important;
    opacity: 1;
    animation: gu 0.2s;

  }


  .contentmodal {
    margin-top: 2vh;
    background: #f1efed;
    height: 96vh;
  }
  .close-cross {
    position: absolute;
    z-index: 100;
    top: 0px;
    right: 0px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header{font-weight:400;text-transform: uppercase;color: #9F866B;	font-family: Montserrat;	font-size: 30px;	letter-spacing: 3px;	line-height: 37px;	text-align: center;}

.header + p{
  font-weight: 400;
}
p{
  margin-top: 30px !important;
}
button{
  margin-top: 30px !important;
  text-transform: uppercase;
}
.Pasaje{
  background-image: url('/assets/imgs/background_slides.png');
  background-size: cover;
  background-position: center;
 background-repeat: no-repeat;
}
.text-normal{
  color: #837F7E;	font-family: Montserrat;	font-size: 16px;	line-height: 18px;	text-align: center;}
  .text-gold{
    margin-top: 60px;
    	color: #9F866B;	font-family: Montserrat;	font-size: 30px;	letter-spacing: 3px;	line-height: 37px;	text-align: center;
  }
  .text-bold{

    color: #464A40;	font-family: Montserrat;	font-size: 40px;	font-weight: 500;	letter-spacing: 4px;	line-height: 49px;	text-align: center;
  }
  .line{
    height: 2px;	width: 132px;	border: 1px solid #464A40;
  }

}
