// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}
.center {
  justify-content: center;
  align-items: center;
}
.mright {
  margin-right: 15px;
}

.radiobutton {
  width: 100%;
  background: transparent;
  height: 40px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.radiobutton {
  input[type="radio"] {
    opacity: 0;
    display: none;
  }
}

.radiobutton {
  label {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: transparent;
    width: 100%;
    color: #01111a;
    cursor: pointer;
  }
}

.radiobutton {
  label::before {
    content: "";
    position: absolute;
    width: 30px;
    border-radius: 50%;
    height: 30px;
    border: 0px solid #01b4bc;
    display: inline-block;
    right: 0px;
    background: transparent;
    transition: all ease 0.3s;
    cursor: pointer;
  }
}

.radiobutton {
  input[type="radio"]:checked + label {
    color: #01b4bc;

    transition: 0.3s;
    &:before {
      background-image: url("../assets/imgs/icons/check.svg");
      background-size: cover;
      border-radius: 0%;
      border: none;
      border: 0px solid #01b4bc;
      animation: growup 0.4s;
    }
  }
}
@keyframes growup {
  from {
    transform: scaleY(0.009) scaleX(1.1);
  }
  to {
    transform: scaleY(1) scaleX(1);
  }
}
.animate-gu {
  animation: gu 0.3s;
}
@keyframes gu {
  from {
    transform: scaleY(0.2) scaleX(0.8);
  }
  to {
    transform: scaleY(1) scaleX(1);
  }
}


//Estilos globales de Ionic

.toolbar-ios ion-title {
  left: 0;
  top: 0;
  padding: 0 15px 1px;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  pointer-events: none;
}

.swiper-pagination-bullet {
  border-radius: 50%;
  display: inline-block;
  width: 18px;
  height: 18px;
  background: transparent;
  border: 1px solid #01111A !important;  border: 1px solid #01111A !important;
  opacity: 1;
  pointer-events: auto;
}

.swiper-pagination-bullet-active {
  background: rgba(5,40,47,1);
  border: 0px solid #01111A !important;
  opacity: 1;
  animation: gu .2s;
}

//Animations////
.spin{animation:w3-spin 2s infinite linear}@keyframes w3-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.animate-input{transition:width 0.4s ease-in-out}.w3-animate-input:focus{width:100%!important}
.opacity,.w3-hover-opacity:hover{opacity:0.60}.w3-opacity-off,.w3-hover-opacity-off:hover{opacity:1}
.opacity-max{opacity:0.25}.w3-opacity-min{opacity:0.75}