page-tabs-turista {
    font-family: 'Montserrat', sans-serif !important;
   

    .tabs-md .tab-button-text {
        font-size: 9px !important;
    }

    .tabs-ios .tab-button-text {
        font-size: 9px !important;
    }
}


