@import "../../theme/variables.scss";
page-rutas {
    font-family: 'Montserrat', sans-serif !important;

    #map{
        width:100%;
     height: 100%;
    }

    .gm-style-iw {
        width: 220px !important;
  
        top: 1px !important; // move the infowindow 15px down
       left: 0 !important;
//height: 190px;;
        transition:'.5s all';
            box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
        border: 0px none rgba(72, 181, 233, 0.6);
        border:0px solid transparent !important;
        border-radius: 2px 2px 0 0;
        padding: 0px 25px;
        padding-right: 0px !important;
        color:black;
        position: relative !important;
     }
}
